h1 {
    text-transform: uppercase;
    color: rgb(58, 59, 59);
    margin-top: 12%;
    font-family: 'Roboto';
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
    color: cornflowerblue;
    font-family: 'Noto Sans JP';
}

body {
    font-family: 'Noto Sans JP';
}

form {
    border: 12px solid cornflowerblue;
    background-color: cornflowerblue;
    border-radius: 5px;
}

input[type=email], select{
    width: 80%;
    padding: 12px 20px;
    border-radius: 4px;
    border: none;
}

input[type=submit]{
    background-color: cornflowerblue;
    color: white;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
}